@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.loginForm{
    border: 3px solid transparent;
    border-radius: 5%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    background: linear-gradient(#e0d6d9, #6adc95) padding-box;
    height: 400px;
    width: 350px;
}

.emailPasswordMargin{
    margin: 5% 0% 8% 5%;
    text-align: left;
}

.loginPageLogButton{
    margin: 10% 0% 0% 5%;
    float: left;
    color: rgb(101, 58, 97);
    background-color: #effff9;
    border-radius: 5%;
    width: 23%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}