.menuButton {
    color: black;
    text-decoration: none;
    font-size: 30px;
    background-color: #c8f3ce;
    cursor: pointer;
    font-family: "Neucha", cursive;
    border-radius: 5%;
    font-weight: bold;
    display: block;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items:flex-end;
    margin-bottom: 40px;
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttonRow div {
    margin-right: 10px;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }
  
.menuLabel {
    width: 200px;
    height: 30px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    background: linear-gradient(#04a670, #6adc95) padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 20px;
    letter-spacing: 2px;
}

.adminMenuLabel {
    width: 100px;
    height: 30px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    background: linear-gradient(#04a670, #6adc95) padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 20px;
    letter-spacing: 2px;
}

.fbpopup {
    background-color: #8b8080;
    border-radius: 5%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
    position: fixed;
}

.fbClose-btn{
    background-color: #86c7fb;
    border-radius: 10px;
    position: relative;
    margin-left: 95%;
    width: 30px;
    height: 30px;
}

@media (max-width: 730px){
    .fbClose-btn{
        margin-left: 90%;
    }
}

textarea{
    width: 95%;
    height: 80%;
    margin: 1% 0% 5% 0;
    display: block;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fbSubmitButton{
    color: rgb(101, 58, 97);
    background-color: #effff9;
    border-radius: 5%;
    width: 23%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}

.ratingContainer {
    display: flex;
    margin-bottom: 2%;
}
  
.star {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}
  
.selected {
    color: #ffc107;
}
  