
.topnav {
    background-color: rgb(181 255 196);
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
    align-content: center;
    align-items: center;
  }
  
  .topnavButton {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 15px;
  background-color: #effff9;
  cursor: pointer;
  font-family: "Neucha", cursive;
  border-radius: 5%;
  font-weight: bold;
  }

  .topnavButtonHiddShowWords{
    float: left;
    color: black;
    text-align: center;
    padding: 10px 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 15px;
    background-color: #effff9;
    cursor: pointer;
    font-family: "Neucha", cursive;
    border-radius: 5%;
    font-weight: bold;
    width: 90px;
    
  }

  .wsTitle{
    margin-top: 7%;
    z-index: 3;
    letter-spacing: 2px;
    font-size: 50px;
  }

  .errorMessage {
    color: red;
  }

  .countdownTimer {
    margin-bottom: 20px;
    font-size: 25px;
  } 


  .sidenav {
    height: 100%;
    width: 96px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(161, 181, 161);
}

.sidenavButton {
  float: left;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  margin-top: 80px;
  margin-left: 22px;
  font-size: 15px;
  background-color: #effff9;
  cursor: pointer;
  font-family: "Neucha", cursive;
  border-radius: 5%;
  font-weight: bold;
}