.hint-popup{
    background-color: #8b8080;
    border-radius: 5%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    width: 250px;
    height: 40%;
    margin-top: 100%;
    margin-left: 20px;
    top: -337px;
    left: 132px;
    position: relative;
}

@media (max-width: 700px){
  .hint-popup{
    background-color: #8b8080;
    border-radius: 5%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    width: 250px;
    height: 40%;
    margin-top: 100%;
    margin-left: 20px;
    top: -128px;
    left: 171px;
    position: relative;
  }
}

.hint-content{
    width: 238px;
    height: 210px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgb(227 255 233);
    margin-left: 10px;
    text-align: left;
}

  .hint-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .hint-content::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .hint-content::-webkit-scrollbar-thumb {
    background-color: #bfe6ff;
    border-radius: 10px;
  }
  

.close-btn{
    margin-left: 229px;
    background-color: #2196F3;
    border-radius: 10px;
}

.hint-line{
  margin-left: 2px;
}