@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.SignUp-header{
    margin-top: 5%;
    font-weight: bolder;
}

.textfield_first{
    padding-top: 20%;
    padding-bottom: 20%;
}

.section_SignUp{
    padding-right: 20%;
}

.hasMargin{
    margin: 2% 10px 8% 0%;
    text-align: left;
}


.welcomeLink{
    margin: 3% 0% 5% 0%;
    position: relative;
    color: rgb(101, 58, 97);
    text-align: center;
    width: 90px;
    height: 20px;
    border: 2px solid rgb(3, 59, 21);
    text-decoration: none; 
}

.form{
    border: 3px solid transparent;
    border-radius: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(#e0d6d9, #6adc95) padding-box;
    height: 400px;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registerDiv{
    margin-top: 10%;
    width: 100%;
}

.RegisterButton{
    margin-top: 30% 0% 2% 0%;
    color: rgb(101, 58, 97);
    background-color: #effff9;
    border-radius: 5%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
    text-align: center;
}

.signUpName{
    font-size: 20px;
    text-align: center;
    width: 100%;
}


.datetime{
    float:left;
}

.datetime
.rc-time-picker
.rc-time-picker-clear
{
    line-height: 15px;
}

.datetime
.rc-time-picker
.rc-time-picker-input {
    height: 23px;
    cursor: text;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 2px dashed rgb(116 66 126);
    border-radius: 8px;
    text-align: center;
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.datetime
.react-datepicker-wrapper
.react-datepicker__input-container
.react-datepicker-ignore-onclickoutside{
    height: 17px;
    cursor: text;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 2px dashed rgb(116 66 126);
    border-radius: 8px;
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.datetime .react-datepicker__current-month,
.datetime .react-datepicker__current-year {
  display: none;
}

.datetime .react-datepicker__year-dropdown {
    height: 200px;
    overflow-y: scroll;
  }